{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  {% if user.is_authenticated %}
    <button
      type="button"
      class="btn btn-default btn-lg btn_margin"
      data-toggle="modal"
      data-target="#myModal">add item</button>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create item</h4>
            {% include 'goods/form_item.html' %}
          </div>
          <div align='center' class="modal-body">

          </div>
        </div>

      </div>
    </div>
  {% endif %}
  {% include 'goods/refresh_object_list.html' %}
{% endblock %}
