{% load staticfiles %}
<div id='object_list' align="center" class="row">
  {% for obj in object_list %}
    <div id='item-{{obj.pk}}' class="col-sm-4 category-item">
      <div class="caption category-img">
        {% if obj.photos %}
          <img src='{{ obj.get_avatar.image_middle.url}}' class='img-responsive img-thumbnail' />
        {% else %}
          <img src='{% static "images/default_image.jpg" %}' class='img-responsive' />
        {% endif %}
      </div>
      <h4>
        <a href='{{ obj.get_absolute_url }}'>
          <button type="button" class="btn">View</button>
        </a>
      </h4>
      {% if user.is_authenticated %}
      <a id='delete-item-{{obj.pk}}'>
        <button type="button" class="btn">Delete</button>
      </a>
      {% endif %}
    </div>
  {% endfor %}
</div>
