{% extends "base.html" %}
{% load staticfiles%}
{% block content %}
<p>Lorem Ipsum is simply Ipsum is  dfev Lorem Ipsum is simply dummy text of the printing and
     typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
     is simply dummy text of the printing and typesettingIpsum is Lorem Ipsum is simply dummy text of the
     printing and typesetting simply dummy text of the printingIpsum is simply dummy text of the
     printingIpsum is simply dummy text of the printingsimply dummy text of the printing and simply
     dummy text of the printing and typesetting industry.dummy text of the printing and typesetting
     industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
     unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
     not only five centuries, but also the leap into electronic typesetting ook a galley of type and scrambled it to make a
     type specimen book. It has survived not only five centuries, but also the
     leap into electronic typesetting  typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
      is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
      the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
      the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
      printingthe industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley of type and scrambled it to make a type specimen book. It has survived no
      only five centuries, but also the leap into electronic typesetting  typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
       is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
       the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
       the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
       printingthe industry's standard dummy text ever since the 1500s,
     <img class="img-responsive" align="left"  src="{% static 'images/1.jpg' %}">
     Lorem Ipsum is sook a galley of type and scrambled it to make a
     type specimen book. It has survived not only five centuries, but also the
     leap into electronic typesetting  typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
      is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
      the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
      the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
      printingthe industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley of type and scrambled it to make a type specimen book. It has survived no
      only five centuries, but also the leap into electronic typesetting  typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
       is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
       the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
       the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
       printingthe industry's standard dummy text ever since the 1500s, imply dummy text of the printing and typesetting Lorem Ipsum is simply dummy
     text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing and
     typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
     is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
     the printing and typesetting Lorem Ipsum is simply dummy text of the printing and typesetting
     Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy
     text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing and
     typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
     is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
     the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
     the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
     printingthe industry's standard dummy text ever since the 1500s, when an unknown printer
     took a galley of type and scrambled it to make a type specimen book. It has survived no
     only five centuries, but also the leap into electronic typesetting  typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
      is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
      the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
      the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
      printingthe industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley of type and scrambled it to make a type specimen book. It has survived no
      only five centuries, but also the leap into electronic typesetting  typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
       is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
       the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
       the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
       printingthe industry's standard dummy text ever since the 1500s, when an unknown printer
       took a galley of type and scrambled it to make a type specimen book. It has survived no
       only five centuries, but also the leap into electronic typesetting only five centuries, but also the leap into electronic typesetting  typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
        is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
        the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
        the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
        printingthe industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived no
        only five centuries, but also the leap into electronic typesetting
 </p>
 <img  class="img-responsive" align='center' src="{% static 'images/2.jpg' %}">
 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
     the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
     of type and scrambled it to make a type specimen book. It has survived not only five centuries,
     but also the leap into electronic typesetting only five centuries, but also the leap into electronic typesetting  typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
      is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
      the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
      the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
      printingthe industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley of type and scrambled it to make a type specimen book. It has survived no
      only five centuries, but also the leap into electronic typesetting
     <img align="right" class="img-responsive" src="{% static 'images/3.jpg' %}">Lorem Ipsum
     is simply Ipsum is Ipsum is simply dummy text of the printingIpsum is simply dummy text of the
     printingIpsum is simply dummy text of the printingsimply dummy text of the printing and simply
     dummy text of the printing and typesetting industry.dummy text of the printing and typesetting
     industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
     unknown printer took a galley of type and scrambled it to make a type specimen book. It
     has survived not only five centuries, but also the leap into electronic typesetting
     Lorem Ipsum is simply Ipsum is Ipsum is simply dummy text of the printingIpsum is simply
     dumm is simply Ipsum is Ipsum is simply dummy text of the printingIpsum is simply dumm is
     simply Ipsum is Ipsum is simply dummy text of the printingIpsum is simply dumm is simply
     Ipsum is Ipsum is simply dummy text of the printingIpsum is simply dumm is simply Ipsum
     is Ipsum is simply dummy text of the printingIpsum is simply dumm is simply Ipsum is
     Ipsum is simply dummy text of the printingIpsum is simply dummy text of the printingIpsum
     is simply dummy text of the printingsimply dummy text of the printing and simply dumm
     text of the printing and typesetting industry.dummy text of the printing and typesetting
     industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
     , when an unknown printer took a galley of type and scrambled it to make a
     type specimen book. It has survived not only five centuries, but also the
     leap into electronic typesetting  typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
      is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
      the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
      the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
      printingthe industry's standard dummy text ever since the 1500s, when an unknown printer
      took a galley of type and scrambled it to make a type specimen book. It has survived no
      only five centuries, but also the leap into electronic typesetting  typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum
       is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of
       the printing and typesettingindustry. Lorem Ipsum has been Ipsum is simply dummy text of
       the printingIpsum is simply dummy text of the printingIpsum is simply dummy text of the
       printingthe industry's standard dummy text ever since the 1500s, when an unknown printer
       took a galley of type and scrambled it to make a type specimen book. It has survived no
       only five centuries, but also the leap into electronic typesetting</p>
{% endblock content %}
